.last-winners {
    padding: 1% 0;
    .slider-container {
        padding: 20px 0;
        width: 100%;
    }
    .slick-slider {
        padding: 0 5px;
    }
    .slide__card {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .card__image {
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
        width: 45%;
        display: inline-block;
        margin-right: 10px;
    }
    .last-winners__title {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .card__content {
        font-family: "Roboto Condensed", sans-serif;
        .game-title {
            text-transform: uppercase;
            font-size: 14px;
        }
        .prize {
            color: #f2de7b;
            font-size: 12px;
        }
        .player-name {
            font-size: 12px;
            color: #bfbfbf;
        }
    }
    .slick-arrow {
        height: 28px;
        width: 28px;
    }
    .slick-arrow:before {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 28px;
        text-shadow: 0px 0px 20px #f2de7b;
        color: #f2de7b;
    }
    .slick-next:before {
        content: '\f105';
    }
    .slick-prev:before {
        content: '\f104';
    }
}