.header__registration {
    background-image: url('../../../assets/images/backgrounds/header-registration-bg.jpg');
    background-size: cover;
    display: flex;
    padding: 35px 0;
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    .btn-forgotPassword {
        display: inline-block;
        margin-left: auto;
        margin-right: 11%;
        font-family: 'Roboto Condensed', sans-serif;
        color: #9f9f9f;
        margin-top: 15px;
    }
    .button-wrapper {
        margin-right: 2%;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        border-radius: 5px;
        &.btn--red {
            margin-right: 0;
            margin-left: 2%;
            .btn-registration {
                color: #ffce81;
                border: 1px solid #ffce81;
                box-shadow: 0px 0px 25px #ffce81, inset 0 0 15px #ffce81;
                background-color: #992b00;
            }  
        }
        &.btn--blue {
            .btn-registration {
                box-shadow: 0px 0px 25px #81fbff, inset 0px 0px 15px #5bb7cf;
                color: #81fbff;
                background-color: #1c3999;
                border: 1px solid #81fbff;
            }            
        }
        cursor: pointer;
        .btn-registration {
            background-color: transparent;
            padding: 3px 15px;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 5px;
            cursor: pointer;
            &:active {
                border-style: solid;                
            }          
            &:focus {
                outline: none;
            }
        }        
    }
    .input-group {
        width: 32%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .header__input {
        font-size: 12px;
        line-height: 24px;
        padding: 0 7px;
        border: none;
        border-radius: 5px;
        color: #9f9f9f;
        font-style: italic;
        background-color: #f1f0f0;
        &:focus {
            border: none;
            outline: none;
        }
        &:active {
            outline: none;
            border: none;
        }
        &--username {
            margin-right: 2%;
        }
    }
}   