.header__registration {
    background-size: cover;
    display: flex;
    border-top: 1px solid #93cfec;
    border-bottom: 1px solid #93cfec;
    padding-top: .5%;
    .registration__controls {
        flex: 0 0 50%;
        display: flex;
        align-self: center;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: auto;
    }
    .logo {
        flex: 0 0 40%;
        height: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../../assets/images/logo.png');
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    .btn-forgotPassword {
        display: inline-block;
        margin-left: auto;
        margin-right: 25%;
        font-family: 'Roboto Condensed', sans-serif;
        color: #9f9f9f;
        margin-top: 5px;
        &:active {
            border: none;
        }
    }
    .btn-login {
        margin-left: 10px;
    }
    .btn-registration {
        padding: 3px 15px;
        margin-right: 10px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        &:active {
            border-style: solid;                
        }          
        &:focus {
            outline: none;
        }
    }  
    .input-group {
        flex: 3;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .header__input {
        font-size: 12px;
        line-height: 24px;
        padding: 0 7px;
        border: none;
        border-radius: 5px;
        color: #9f9f9f;
        font-style: italic;
        background-color: #f1f0f0;
        &:focus {
            border: none;
            outline: none;
        }
        &:active {
            outline: none;
            border: none;
        }
    }
}   