* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 20px;
    color: #f1f1f1;
    background-color: #111111;
    font-family: "Roboto Condensed", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

select {
    display: block;
}

ul, nav {
    list-style: none;
    list-style-type: none;
}