@import url(../assets/fonts/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Neucha");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  color: #f1f1f1;
  background-color: #111111; }

a {
  display: inline-block;
  text-decoration: none;
  color: #fff; }

img {
  max-width: 100%;
  height: auto; }

select {
  display: block; }

ul, nav {
  list-style: none;
  list-style-type: none; }

.container {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.flex {
  display: flex; }

.hover--gold {
  transition: all .2s ease-in-out; }
  .hover--gold:hover {
    color: #f2de7b !important;
    text-shadow: 0px 0px 15px #f2de7b; }

.hover--blue {
  transition: all .2s ease-in-out; }
  .hover--blue:hover {
    color: #E3F2FD;
    text-shadow: 0px 0px 15px #90CAF9; }
