@import url(../assets/fonts/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Neucha");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 20px;
  color: #f1f1f1;
  background-color: #111111;
  font-family: "Roboto Condensed", sans-serif; }

a {
  display: inline-block;
  text-decoration: none;
  color: #fff; }

img {
  max-width: 100%;
  height: auto; }

select {
  display: block; }

ul, nav {
  list-style: none;
  list-style-type: none; }

.clearfix:after {
  content: '';
  width: 100%;
  float: none;
  display: inline-block; }

.container {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.flex {
  display: flex; }

.text--gold {
  color: #f2de7b !important;
  text-shadow: 0px 0px 15px #f2de7b; }

.hover--gold {
  transition: all .2s ease-in-out; }
  .hover--gold:hover {
    color: #f2de7b !important;
    text-shadow: 0px 0px 15px #f2de7b; }

.hover--blue {
  transition: all .2s ease-in-out; }
  .hover--blue:hover {
    color: #E3F2FD;
    text-shadow: 0px 0px 15px #90CAF9; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0; }

.btn-default {
  background-color: transparent;
  padding: 3px 25px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer; }

.btn--red {
  color: #ffce81;
  border: 1px solid #ffce81;
  box-shadow: 0px 0px 25px 1px #ffce81, inset 0 0 15px 3px #ffce81;
  background-color: #992b00; }

.btn--blue {
  box-shadow: 0px 0px 25px 1px #81fbff, inset 0px 0px 15px 3px #5bb7cf;
  color: #81fbff;
  background-color: #1c3999;
  border: 1px solid #81fbff; }

.btn:active {
  border-style: solid; }

.btn:focus {
  outline: none; }

/*##################################
########    HEADER CARUSEL  
##################################*/
.header__carusel .slide {
  background: transparent; }
  .header__carusel .slide__content-image {
    padding: 10% 3%; }
  .header__carusel .slide__wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }

/*######  /.END HEADER CARUSEL 
####################################*/
/*##################################
########    WIDGET BAR  
##################################*/
.widget-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px solid #c0dcff; }
  .widget-bar .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .widget-bar .left-widget {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: auto; }
  .widget-bar .right-widget {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: auto; }

/*######  /.END WIDGET BAR 
####################################*/
.games__grid .card {
  display: block;
  float: left;
  width: 17%;
  height: 150px;
  margin: 0 1.5% 1%; }
  .games__grid .card img {
    transition: all .5s ease-in-out; }
  .games__grid .card:hover img {
    transform: scale(1.2); }
  .games__grid .card:hover .card__image {
    box-shadow: 0 0 15px 1px #148aed;
    border: 1px solid #148aed; }
  .games__grid .card:hover .inner-overlay {
    height: 100%;
    opacity: 1; }
  .games__grid .card .inner-overlay {
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .5s ease-in-out; }
    .games__grid .card .inner-overlay .btn--blue {
      margin-top: auto; }
    .games__grid .card .inner-overlay .btn--red {
      margin-bottom: auto;
      margin-top: 10px; }
  .games__grid .card__image {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden; }
  .games__grid .card__game-title {
    color: #e8e9ea;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase; }

.games__grid .some-slider {
  display: block;
  float: right;
  width: 38.5%;
  height: 300px;
  margin: 0 1.5% 2% 0;
  max-width: 38.5%;
  max-height: 300px;
  padding-bottom: 20px; }

.index-page {
  padding: 15% 0; }
  .index-page .hero-title {
    text-align: center; }
  .index-page .hero-cite {
    float: right; }

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none; } }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }
