.footer {
  padding: 2% 0; }
  .footer .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .footer__links-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 500px; }
  .footer__partners-list {
    margin: 3% 0 1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 750px; }
  .footer .links-list__link {
    font-size: 14px;
    color: #949393; }
  .footer .partners-list__link {
    width: 120px;
    height: 70px;
    display: inline-block;
    background-image: url("../../assets/images/footer/partner-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .footer .partner--visa {
    background-image: url("../../assets/images/footer/partner-1.png"); }
  .footer .partner--paypal {
    background-image: url("../../assets/images/footer/partner-2.png"); }
